* {
  color: #fffF,
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.displayNav {
  min-height: 100vh;
  width: 100%;
  background-color: #0009;
  backdrop-filter: blur(8px);
  position:fixed;
  top: 0;
  z-index: 10;
  display: flex;
  transform: translateY(0vh);
  flex-direction: column;
  align-items: center;
  overflow-y: scroll !important;
}

.navbarPhone {
  transition: 0.5s;
  min-height: 100vh;
  width: 100%;
  background-color: #0009;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  display: flex;
  z-index: 10;
  transform: translateY(-150vh);
  flex-direction: column;
  align-items: center;
}

.toobarStyle {
  display: block;
}

.hideToolbar {
  display: none !important;
}

.nav__link__phone:hover > .nav__dropDown__phone{
  display: block;
}

.nav__link {
  margin: 0px 20px;
  color: #101010;
  text-decoration: none;
  transition: 0.25s;
}

.nav__link:hover {
  color: #fff;
}
.service{
  margin-left: 10px;
}
.nav__dropDown {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.292);
  margin-top: 55px;
  display: none;
  transition: 0.25s;
  border-radius: 5px;
  padding: 5px 0px;
}

.nav__link:hover>.nav__dropDown {
  display: block;
}
.navLinksPhone{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
}

@media screen and (min-width:900px){
  .navbarPhone{
    display: none;
  }
  .displayNav{
    display: none;
  }
}
@media screen and (max-width:900px) {
  .phoneLandscape{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
  }
  .nav__link__phone{
    text-align: left;
    width: 70%;
    margin: 0px 20px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid gray;
    padding: 15px;
  }
  .nav__dropDown__phone{
    background-color: #fff;
    margin-top: -100px;
    margin-left: 100px;
    transition: 0.25s;
    border-radius: 5px;
    padding: 5px 0px;
    text-align: left;
    display: none;
    position: absolute;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.405);
  }
 }

 
@media screen and (max-width:500px){
  .phoneLandscape{
    grid-template-columns: 1fr;
  }
  .nav__link__phone {
    text-align: center;
    width: 100%;
  }
  .nav__dropDown__phone{
    position: relative;
    margin: 0;
    margin-top: 15px;
  }
}